@import url("https://fonts.googleapis.com/css?family=Darker+Grotesque:400,600,700&display=swap");
body {
  background: #f1f3f5;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

h1, h2, h3, h4, h5, h6 {
  color: #745fb5;
  font-weight: 500; }

h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1rem; }

a {
  color: #745fb5;
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    color: #5b479a; }

.logo {
  font-weight: 600;
  font-size: 1.4rem;
  color: #745fb5;
  text-transform: uppercase; }

.wrapper {
  width: 95%;
  margin-top: 60px;
  padding-bottom: 50px; }
  .wrapper .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box; }
    .wrapper .row .col {
      box-sizing: border-box;
      padding-right: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex-basis: 100%;
      flex: 1; }
      .wrapper .row .col:last-child {
        padding-right: 0px; }
      .wrapper .row .col .card {
        width: 100%;
        background: white;
        box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03), 0 1px 2px rgba(102, 119, 136, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 5px;
        padding: 30px;
        text-align: left;
        box-sizing: border-box; }
        .wrapper .row .col .card h2 {
          text-align: left;
          margin-bottom: 20px; }

input[type=button],
input[type=submit],
input[type=reset],
button {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 18px;
  height: 45px;
  background: #745fb5;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border: none;
  box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03), 0 1px 2px rgba(102, 119, 136, 0.3);
  cursor: pointer; }
  input[type=button]:hover,
  input[type=submit]:hover,
  input[type=reset]:hover,
  button:hover {
    background: #4f3d85; }
  input[type=button]:focus,
  input[type=submit]:focus,
  input[type=reset]:focus,
  button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 102, 255, 0.5); }
  input[type=button] a,
  input[type=submit] a,
  input[type=reset] a,
  button a {
    color: white; }
    input[type=button] a:hover,
    input[type=submit] a:hover,
    input[type=reset] a:hover,
    button a:hover {
      color: white; }

input[type=text],
input[type=password],
input[type=date] {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 18px;
  border-radius: 3px;
  border-style: none;
  padding: 10px;
  border: 1px solid #ececec; }

.input-group {
  margin-bottom: 20px; }
  .input-group p {
    font-weight: 600;
    margin-bottom: 10px; }

.table-container {
  width: 100%;
  background: white;
  border-radius: 5px;
  box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03), 0 1px 2px rgba(102, 119, 136, 0.3), 0 8px 12px rgba(58, 193, 203, 0.1);
  margin-bottom: 20px; }
  .table-container .table {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; }
    .table-container .table .table-col {
      padding-right: 1rem;
      padding-left: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex-basis: 100%; }
    .table-container .table .table-row {
      width: 100%;
      background: white;
      height: 50px;
      border-bottom: 1px solid #eee;
      box-sizing: border-box;
      align-items: center;
      display: flex;
      flex-direction: row; }
    .table-container .table .table-row-header {
      width: 100%;
      color: #678;
      background: #f8f9fa;
      height: 60px;
      box-sizing: border-box;
      border-radius: 5px 5px 0 0;
      font-weight: 600;
      display: flex;
      flex-direction: row;
      align-items: center; }
    .table-container .table .table-row-bottom {
      width: 100%;
      color: #678;
      background: white;
      height: 20px;
      box-sizing: border-box;
      border-radius: 0px 0px 5px 5px;
      font-weight: 600;
      display: flex;
      flex-direction: row;
      align-items: center; }

.flex-basis-2 {
  flex-basis: 2% !important; }

.flex-basis-5 {
  flex-basis: 5% !important; }

.flex-basis-10 {
  flex-basis: 10% !important; }

.flex-basis-15 {
  flex-basis: 15% !important; }

.flex-basis-20 {
  flex-basis: 20% !important; }

.flex-basis-25 {
  flex-basis: 25% !important; }

.flex-basis-33 {
  flex-basis: 33.33% !important; }

.flex-basis-50 {
  flex-basis: 50%; }

.flex-basis-66 {
  flex-basis: 66.66%; }

.flex-basis-100 {
  flex-basis: 100%; }

.overlay {
  position: fixed;
  /* Sit on top of the page content */
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */ }
  .overlay .modal {
    height: 60%;
    width: 1200px;
    background: white;
    border-radius: 5px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px; }
  .overlay .modal-sm {
    height: 40%;
    width: 600px;
    background: white;
    border-radius: 5px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .overlay .side-panel-container {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    /* Black background with opacity */
    z-index: 3;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
    display: flex;
    justify-content: flex-end; }
    .overlay .side-panel-container .side-panel {
      height: 100%;
      width: 50%;
      right: 0;
      background: white;
      z-index: 4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03), 0 1px 2px rgba(102, 119, 136, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

nav {
  width: 95%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  nav #nav-links ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px; }
    nav #nav-links ul li a {
      color: #334455;
      font-weight: 600; }
      nav #nav-links ul li a:hover {
        color: #745fb5; }
      nav #nav-links ul li a.selected {
        color: #745fb5; }
    nav #nav-links ul li:first-child {
      margin-left: 0; }
    nav #nav-links ul li:last-child {
      margin-right: 0; }

.badge {
  text-transform: uppercase;
  background-color: #745fb5;
  width: 120px;
  height: 30px;
  border-radius: 3px;
  color: white;
  font-size: .8em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold; }
  .badge.approved {
    background-color: #1CCF9B; }
  .badge.rejected {
    background-color: #FF6C6C; }

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em; }

#home {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #home .row {
    margin-bottom: 30px; }
  #home h2 {
    margin-bottom: 20px; }

section.login {
  font-size: 24px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box; }
  section.login .hero {
    width: 50%;
    background: white;
    background-image: url("../../img/hero.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  section.login .panel {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    section.login .panel form .logo {
      font-size: 3.6rem;
      width: 100%;
      text-align: left;
      margin-bottom: 30px; }
    section.login .panel form input[type=text],
    section.login .panel form input[type=password] {
      width: 320px; }
    section.login .panel form .login-button {
      margin-top: 30px; }
