$background: #f1f3f5;
$text: #334455;
$primary: #745fb5;

$table-white: #fff;
$table-alt: #f8f9fa;
$table-header: #678;



body{
  background: #f1f3f5;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
  color: $primary;
}

h1{
  font-size: 2.4rem;
  margin-top: .5em;
  margin-bottom: .2em;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.8rem;
}

h4{
  font-size: 1.5rem;
}

h5{
  font-size: 1.2rem;
}

h6{
  font-size: 1rem;
}

a{
  color: $primary;
  text-decoration: none;
  font-weight: bold;

  &:hover{
    color: darken($primary, 10%);
  }
}

.container{
  margin: 0 auto;
  margin-left: 40px;
  margin-right: 40px;
  height: 100%;
}
