input[type=text],
input[type=password],
input[type=date]{
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	border-radius: 3px;
	border-style: none;
	padding: 10px;
	border: 1px solid #ececec;
}

.input-group{
	margin-bottom: 20px;
	p{
		font-weight: 600;
		margin-bottom: 10px;
	}
}


select{
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	border-radius: 3px;
	border-style: none;
	height: 40px;
	width: 280px;
	border: 1px solid #ececec;
}
