input[type=text]{
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 18px;
	border-radius: 3px;
	border-style: none;
	padding: 10px;
}

.input-group{
	margin-bottom: 20px;
	p{
		font-weight: 600;
		margin-bottom: 10px;
	}
}
