header{
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3);
  // border-bottom: solid 1px rgba(102,119,136,.05);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav{
  width: 95%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  #nav-links{
    ul{
      li{
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;


        a{
          color: $text;
          font-weight: 600;

          &:hover{
            color: $primary;
          }
          &.selected{
            color: $primary;
          }

        }

        &:first-child{
          margin-left: 0;
        }



        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}
