.table-container {
	width: 100%;
	background: white;
	border-radius: 5px;
	box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3), 0 8px 12px rgba(58,193,203,.1);
	margin-bottom: 20px;

	.table {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

		.table-col{
			padding-right: 1rem;
			padding-left: 1rem;
			display: flex;
  		flex-direction: row;
			flex-wrap: nowrap;
			flex-basis: 100%;
		}

		.table-row {
      width: 100%;
			background: white;
			height: 50px;
      border-bottom: 1px solid #eee;
      box-sizing: border-box;
			align-items: center;
			display: flex;
	    flex-direction: row;
		}

		.table-row-header {
			width: 100%;
			color: $table-header;
			background: $table-alt;
			height: 60px;
			box-sizing: border-box;
			border-radius: 5px 5px 0 0;
			font-weight: 600;
			display: flex;
	    flex-direction: row;
			align-items: center;
		}

		.table-row-bottom {
			width: 100%;
			color: $table-header;
			background: white;
			height: 20px;
			box-sizing: border-box;

			border-radius: 0px 0px 5px 5px;
			font-weight: 600;
			display: flex;
	    flex-direction: row;
			align-items: center;
		}

	}
}

.flex-basis-2{
	flex-basis: 2% !important;
}

.flex-basis-5{
	flex-basis: 5% !important;
}

.flex-basis-10{
	flex-basis: 10% !important;
}

.flex-basis-15{
	flex-basis: 15% !important;
}

.flex-basis-20{
	flex-basis: 20% !important;
}

.flex-basis-25{
	flex-basis: 25% !important;
}

.flex-basis-33{
	flex-basis: 33.33% !important;
}

.flex-basis-50{
	flex-basis: 50%;
}

.flex-basis-66{
	flex-basis: 66.66%;
}

.flex-basis-100{
	flex-basis: 100%;
}
